<div class="modal-content">
    <!--   <div class="modal-header customHeader">
        <h5 class="modal-title " id="exampleModalLongTitle">Hello again!</h5>
        <h5>Welcome back, you've been missed</h5>
    </div>

    -->

    <div class="modal-body">
        <h5 class="modal-title customtitle" id="exampleModalLongTitle">Hello again!</h5>
        <h5 class="subtitle">Welcome back, you've been missed</h5>

        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                aria-describedby="basic-addon1" [(ngModel)]="username">
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Password" aria-label="Password"
                aria-describedby="basic-addon1">
        </div>

        <div class="row" style="display:flex; flex-wrap:nowrap; column-gap:5px; margin-bottom: -32px;">
            <h5 class="subtitle">You don't have an account ?</h5>
            <a class="slink"> Sign in</a>
        </div>

    </div>
    <div class="modal-footer customFooter">
        <button type="button" class="btn btn-secondary"
            style="background-color: rebeccapurple;font-size: 13px; border: none; border-color: transparent;"
            (click)="activeModal.close(false)">Close</button>
        <button type="button" class="btn btn-primary"
            style="background-color: #383141;font-size: 13px; border: none; border-color: transparent;">Login</button>
    </div>
</div>