<!--
<div class="image">
    <img class="background" src="assets/img/train.avif" alt="Homepage">
</div>
-->

<section class="home" id="home">
    <div class="homecontent">
        <h1 style="margin-top: -11rem; margin-left: -6rem;">A living network of extraordinary minds.</h1>
        <h4 class="subtitle">Read, write and expand your world. We need your story.</h4>
        <a routerLink="Article" class="btn btn-lg btn-light buttons" style="margin-left: -39rem;">Read our stories</a>
        &nbsp;
        <a (click)="openModal()" class="btn btn-lg btn-primary">Write your own</a>
    </div>
</section>


<!--
<section class="home">
    <img src="../../../assets/back.jpg">

    <div class="homecontent">
        <h1>Start Learning For Future bright</h1>
        <a routerLink="course" class="btn btn-lg btn-light">Discover Courses</a> &nbsp;
        <a routerLink="joinnow" class="btn btn-lg btn-primary">Join Now</a>

    </div>
</section>
-->